<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


<div class="top-section">  
    <div class="img-pet"> 
       <img  src="<%= foundPet.image %>" alt=" <%= foundPet.breed %>">
    </div> 
</div>

<div class="bottom-section container-md">
   <p><span>Status: </span><em><%= foundPet.type %></em></p>
   <p><span>Date on which the pet was lost or found: </span> <%= foundPet.date %></p>
   <p><span>Breed/Description: </span> <%= foundPet.breed %></p>
   <p><span>Address: </span> <%= foundPet.address %></p>
   <p><span>Gender: </span> <%= foundPet.gender %></p>
   <p><span>Approximate age: </span> <%= foundPet.age %></p>
   <p><span>Colors: </span> <%= foundPet.color %></p>
   <p><span>Weight: </span> <%= foundPet.weight %></p>
   <p><span>Length of hair: </span> <%= foundPet.hair %></p>
   <p><span>pet's collar: </span> <%= foundPet.collar %></p>
   <p><span>Additional: </span> <%= foundPet.addition %></p>
</div>

<div class="container-md center-btn">
<button class="pattern-button" id="upload-pic" ><a class="go-back-btn" href="/search">Go Back</a></button>
</div>



<%- include('../partials/footer') -%>