<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>


    <div class="lost-pet">
      <h1>The Database Of Lost And Found Pet Report</h1>

      <button  type="submit" name="addnew" class= "centered-button report-section" ><a class="create-link" href = "/admin/report-pet">Report a Lost/Found Pet</a></button><br>
      
      <div class="pet-details">

 
  <% for(pet of petsArray) { %>
   
    <div class="pet-individual"> 
      <a href="/search/<%=pet._id %>"><img src="<%= pet.image %>" alt="<%= pet.breed %>"></a>
      <p class="search-type"><div class="found-lost <%= pet.type === 'Found' ? 'change-yellow': 'change-red'%>"><%= pet.type %></div><%= pet.breed %><br><a href="/search/<%=pet._id %>"class="detail-link">Details</a></p>
    </div>

   <% } %>

      </div>







<div id="map"></div>


      </div>
 

<!-- api map -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZZeAULdJ0uNBx0CMSMCP0vUqw1hr8jqY&libraries=places&callback=locationMap" defer></script>

<%- include('../partials/footer') -%>