<%- include('../partials/head') -%>

 
<%- include('../partials/nav') -%>



    
    <form class="report-pet container" action ="/search/<%= foundPet._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded" >
      <h1>Update A Lost Or Found Pet Report and Flyer</h1>
      <div class="row g-3">
  
        <div class="col-12"> 
              <label for="what-happen" class="form-label">What Happened?</label>
              <select id ="what-happen" name ="what-happen" class="form-select" >
                  <option value="<%= foundPet.type %>" selected><%= foundPet.type %></option>
                  <option value="Lost">Lost</option>
                  <option value="Found">Found</option>             
              </select>
        </div>
  
  
        <div class="col-12">
          <label for="last-saw" class="form-label">Date on which the pet was lost or found</label>
          <input class="form-control" type="date" id="last-saw" name="last-saw" value="<%= foundPet.date %>">
          </div>
  
        <div class="col-12">
          <label for="breed" class="form-label">Breed/Description?</label>
          <input type="text" class="form-control" name="breed" id="breed" value="<%= foundPet.breed %>" required >
       </div>
  
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" name ="inputAddress" id="inputAddress"  value="<%= foundPet.address %>">
        </div>
  
  
      
        <div class="col-12">
          <label for="upload-pic" class="form-label">UpLoad a Photo of Your Pet</label>
          <input type="file" class="form-control" name="upload-pic" id="upload-pic" value="<%= foundPet.image %>"><br>
          <button class="btn btn-secondary" type="button" id="upload-pic">Upload Photo</button>
        </div>
  
       
  
       <div class="col-12"> 
          <label for="what-gender" class="form-label">What gender is the pet?</label>
          <select id ="what-gender"name ="what-gender" class="form-select" >
              <option value="<%= foundPet.gender %>" selected><%= foundPet.gender %></option>
              <option value="Male" >Male</option>
              <option value="Female">Female</option>
              <option value="uncertain">Sex Uncertain</option>
          </select>
        </div>
  
        <div class="col-12">
          <label for="what-age" class="form-label">Approximate age of the pet in years(number only)</label>
          <input type="text" class="form-control" name="what-age" id="what-age" value="<%= foundPet.age %>">
       </div>
  
       <div class="col-12">
          <label for="what-color" class="form-label">What colors are the pet?</label>
          <input type="text" class="form-control" name="what-color" id="what-color" value="<%= foundPet.color %>">
       </div>
  
    
  
        <div class="col-12"> 
          <label for="what-weight" class="form-label">What is the approximate weight of the pet?</label>
          <select id ="what-weight" name="what-weight" class="form-select" >
            <option value="<%= foundPet.weight %>" selected><%= foundPet.weight %></option>
              <option value="under 5 lbs">Under 5 lbs</option>
              <option value="5-10 lbs">5-10 Ibs</option>
              <option value="10-20 lbs">10-20 Ibs</option>
              <option value="20-30 lbs">20-30 Ibs</option>
              <option value="30-40 ibs">30-40 Ibs</option>
              <option value="over 50 lbs">Over 50 Ibs</option>
          </select>
        </div>
  
  
        <div class="col-12"> 
          <label for="length-hair" class="form-label">What length of hair does the pet have?</label>
          <select id ="length-hair" name="length-hair" class="form-select" >
            <option value="<%= foundPet.hair %>" selected><%= foundPet.hair %></option>
              <option value="Short">Short</option>
              <option value="Medium">Medium</option>
              <option value="Long">Long</option>
              <option value="Not Applicable">Not Applicable</option>
          </select>
        </div>
  
  
        <div class="col-12">
          <label for="pet's-collar" class="form-label">Describe the pet's collar</label>
          <input type="text" class="form-control" name="pet's-collar" id="pet's-collar" value="<%= foundPet.collar %>" >
       </div>
  
       <div class="col-12">
          <label for="details" class="form-label">Provide additional comments or details</label>
          <textarea class="form-control" name="details" id="details" rows="3" ><%= foundPet.addition %></textarea>
       </div>
  
  
       <div class="col-12 text-center">
          <input type="submit" class="pattern-button" id="upload-pic"  value="Submit" />
       </div>
  
  </div>
       
  </form>



  <%- include('../partials/footer') -%>